*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    background-color: black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
}

.display {
    background-color: rgba(253, 253, 253, 0.651);
    min-height: 7rem;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, clamp(2rem, 15vmin, 5rem));
    grid-template-rows: repeat(5, clamp(2rem, 15vmin, 5rem));
    gap: 0.25rem;
}

.button {
    font-size: clamp(0.7rem, 6vmin, 1.75rem);
}